version: '3'

services: 

    app: 
        build: .
        container_name: app
        # environment: 
        #   - DB_HOST=db
        #   - DB_DATABASE=laravel
        #   - DB_USERNAME=root
        #   - DB_PASSWORD=root  
        volumes: 
          - .:/var/www
        networks: 
          - app-networks
        depends_on: 
          - db 
          - redis 

    nginx:
        build: .docker/nginx
        container_name: nginx
        restart: always
        tty: true
        ports:
          - '8001:80'
        volumes: 
          - .:/var/www   
        networks: 
          - app-networks 
        depends_on: 
          - app   

    db: 
        #build: .docker/mysql
        image: mysql:5.7
        command: --innodb-use-native-aio=0
        container_name: db
        restart: always
        tty: true
        ports: 
          - "33006:3306" 
        volumes: 
          - ./.docker/dbdata:/var/lib/mysql
        environment: 
          - MYSQL_DATABASE=laravel
          - MYSQL_ROOT_PASSWORD=root
          - MYSQL_USER=root 
        networks: 
          - app-networks        
        # healthcheck:
        #   test: ["CMD-SHELL", "mysql -uroot --database=laravel --password=root --execute='SELECT count(table_name) > 0 FROM information_schema.tables;' --skip-column-names -B"]  
        #   interval: 10s
        #   timeout: 10s
        #   retries: 4

    redis:
        image: redis:alpine
        expose: 
          - 6379
        networks: 
          - app-networks  

networks: 
  app-networks:
      driver: bridge            